/* ------------ Tailwind Directives ------------ */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* .app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f8f8f8;
  padding: 20px;
}

h1 {
  color: #335383;
  margin-bottom: 20px;
}

input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
  width: 300px;
}

button {
  background-color: #335383;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin: 10px;
}

button:hover {
  background-color: #23375d;
}

img {
  margin-top: 20px;
  max-width: 300px;
  border: 1px solid #ccc;
  border-radius: 4px;
} */

img.logo {
  border: none;
  max-width: 200px;
}
