/*---------- GOOGLE FONTS Josefin Sans - JetBrains Mono----------*/
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;500;600;700&family=Josefin+Sans:wght@300;400;500;600;700&display=swap");

:root {
  --jetbrains-mono: "JetBrains Mono", monospace;
  --josefin-sans: "Josefin Sans", "sans-serif";
  --black: #342e37;
  --yellow: #f6d365;
  --orange: #fda085;
  --gradient: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: var(--black);
}

body {
  font-family: var(--josefin-sans);
  width: 100%;
}

img,
svg {
  max-width: 100%;
  display: block;
}

a {
  color: inherit;
}

/* BUTTONS */
button {
  cursor: pointer;
  font-size: 1rem;
  font-family: var(--jetbrains-mono);
}

.repeat-btn,
.generate-btn {
  border: 1px solid var(--black);
  background-image: var(--gradient);
  background-size: 200% auto;
  font-weight: 700;
  padding: 0.5rem 1.5rem;
  border-radius: 1.5rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
  transition: 0.5s;
}

.repeat-btn:hover,
.generate-btn:hover {
  background-position: right center;
}

.reset-btn {
  display: flex;
  align-items: center;
  padding: 0.2rem 0.6rem;
  transition: ease 0.5s;
  border: 1px solid var(--black);
  background-color: rgb(239, 239, 239);
}

.reset-btn:hover {
  background-color: lightgrey;
}

.download-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: var(--josefin-sans);
  padding: 0.5rem 1rem;
  background: none;
  border: none;
}
/* BUTTONS END */

/* INPUT FIELD */
#urlInput {
  font-family: var(--jetbrains-mono);
  appearance: none;
  outline: none;
  border: 1px solid var(--black);
  width: 220px;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  font-size: 1rem;
}
input::placeholder {
  font-family: var(--jetbrains-mono);
  font-size: 1rem;
}

/* Visually hide the labels */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
  white-space: nowrap;
  border: 0;
}
/* INPUT FIELD END */

.wrapper {
  max-width: 64rem;
  width: 100%;
  margin: 0 auto;
}

/* HEADER SECTION */
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}

.github-container.header {
  display: none;
}

.logo {
  width: 150px;
}

.qr-header-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
/* HEADER SECTION END */

/* MAIN SECTION */
main {
  display: grid;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
  width: 100%;
  padding: 2rem 1rem;
  margin-bottom: 3rem;
}

h1 {
  margin-bottom: 0.375rem;
  font-weight: 700;
  font-size: 1.3rem;
  max-width: 230px;
  margin: 0 auto;
  text-align: center;
}

/* Animation */
.qrPhone {
  width: 250px;
  margin: 0 auto;
}

/* QR section (where the qr code is generated) */
.loading-container,
.download-container,
.qr-generator-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.download-container img {
  width: 10rem;
}

.qr-generator-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.github-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.github-container.footer {
  margin-top: 2rem;
}

/* COLOR PICKER */
.color-picker-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem;
}

.color-picker {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.color-box {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  border: 1px solid var(--black);
  border-radius: 0.3rem;
}

.chrome-picker {
  position: absolute;
  top: 50px;
  left: 50px;
  transform: translate(-50px, -5px);
}

@media (min-width: 768px) {
  header {
    flex-direction: row;
  }

  .github-container.header {
    display: flex;
  }

  .github-container.footer {
    display: none;
  }

  .logo {
    max-width: 200px;
    width: 100%;
  }

  .qrPhone {
    width: 300px;
  }
}

@media (min-width: 1024px) {
  main {
    margin: 0 auto;
  }

  .animation-wrapper {
    grid-column: 1/2;
  }

  .qrPhone {
    margin: 0;
  }

  h1 {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    max-width: 100%;
    grid-column: 1/3;
    grid-row: 1/2;
  }

  .loading-container,
  .download-container,
  .qr-generator-wrapper {
    grid-column: 2/3;
  }
}

/* ICONS */
.github-icon,
.qr-icon,
.download-icon {
  width: 2rem;
  height: 2rem;
}
