:root {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #e7c0e7;
  padding: 20px;
  overflow: hidden;
}

h1 {
  color: #1b8085;
  margin-top: 20px;
}

input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #1b8085;
  border-radius: 4px;
  margin-bottom: 20px;
  width: 300px;
  z-index: 2;
}

button {
  background-color: #3aa6a9;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin: 10px;
  z-index: 2;
}

button:hover {
  background-color: #0e5c63;
}

img {
  margin-top: 20px;
  max-width: 300px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
*/ img.logo {
  border: none;
  max-width: 200px;
}

.animation-container {
  margin-right: 10px;
  width: 60%;
  height: 60%;
  margin-right: 40%;
  z-index: 1;
  align-self: flex-start;
}
