:root {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --animate-duration: 800ms;
  --animate-delay: 0.9s;
  background-color: #f8b557;
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
}

h1 {
  color: #34495e;
  margin-bottom: 20px;
  display: inline-block;
  margin: 20px;
  font-size: 30px;
  /* animation: fadeIn; referring directly to the animation's @keyframe declaration */
  animation-duration: 3s; /* don't forget to set a duration! */
}

input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
  width: 300px;
}

.qr-buttons {
  display: flex;
  flex-direction: column;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

button {
  background-color: #34495e;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin: 10px;
}

button:hover {
  background-color: #23375d;
}

img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  max-width: 300px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

img.logo {
  border: none;
  max-width: 200px;
}
.lottie-animation {
  /* Apply CSS styles to the Lottie animation here */
  /* For example, you can set a specific size or change the background color: */
  width: 100px;
  height: 100px;
}

@media (min-width: 744px) {
  h1 {
    font-size: 47px;
  }

  .lottie-animation {
    width: 200px;
    height: 200px;
  }
}
